# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnpm-debug.log

# Entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build
dist/
build/
out/
.next/

# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Caché
.cache/
.parcel-cache/

# Replit
.replit
.breakpoints
.upm/
.config/